[submodule "shapeworld/realizers/dmrs/pydmrs"]
	path = shapeworld/realizers/dmrs/pydmrs
	url = https://github.com/delph-in/pydmrs
	branch = python2
[submodule "models/TFMacros"]
	path = models/TFMacros
	url = https://github.com/AlexKuhnle/TFMacros.git
[submodule "pretrained/tf_models"]
	path = pretrained/tf_models
	url = https://github.com/tensorflow/models.git
